<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="kewords" content="多媒体技术">
  <meta name="description" content="">
  <meta name="author" content="沈凯然">
  <title>多媒体技术</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">   <!--引用bootstrap-->
   
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}"> 
  

</head>
<body>
 
          
	     

  
  
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>   <!--引用jQuery-->
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script> 
  <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script> 
  <script src="{{url_for('static',filename='js/jquery.sticky.js')}}"></script> 
  <script src="{{url_for('static',filename='js/jquery.easing.1.3.min.js')}}"></script> 
  <script src="{{url_for('static',filename='js/main.js')}}"></script> 
  <script src="{{url_for('static',filename='js/bxslider.min.js')}}"></script> 
  <script src="{{url_for('static',filename='js/script.slider.js')}}"></script> 
  <script src="{{url_for('static',filename='js/jquery.let_it_snow.js')}}"></script> 

</body>

</html>
