{% extends 'subbase.html' %}

{% block content %}

<div class="content">
  <div class="a">
 
   <div class="left">
     <div class="img">
      <img src="./images/图片/图云.png" alt="">
     </div>
  </div>

  <div class= "right">
    <div class="title" style=" font-family:'cyjianxk28858b0a752368e';">
      MP3
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne" style="font-family:'cyjianxk28856179772368e';">
              介绍
          </h5>
       </div>

       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
         <div class="card-body">
            <p class="paragraph" style = "font-family:LiDeBiao-Xing3">
              算术编码是一种无损数据压缩方法，也是一种熵编码的方法。和其它熵编码方法不同的地方在于，其他的熵编码方法通常是把输入的消息分割为符号，然后对每个符号进行编码，而算术编码是直接把整个输入的消息编码为一个数，一个满足 （0.0 ≤ n < 1.0）的小数n。
            </p>
         </div>
       </div>
      </div>
     <div class="card">
       <div class="card-header" id="headingTwo">
         <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                  aria-controls="collapseTwo" style="font-family:'cyjianxk28856d138f2368e';">   
           视频
         </h5>
       </div>
       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
         <div class="card-body">
          <video width="300" height="200" controls="controls">

            <source src="video\算术编码.mp4" type="video/mp4">
         </video>
         </div>
       </div>
     </div>
   <div class="card">
     <div class="card-header" id="headingThree">
      <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                  aria-controls="collapseThree" style="font-family:'cyjianxk2886a9090f2368e';">  
        扩展
      </h5>
    </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
       <div class="card-body">

        <a href="https://colab.research.google.com/drive/1jayxHhYGdyB0LJAyFM9q1fH9OO-MI51O?hl=zh-cn#scrollTo=aHubekCedNyO" style = "font-size :30px; font-family:LiDeBiao-Xing3;">python实验</a>
        <p> </p>
        <a href="https://baike.baidu.com/item/%E7%AE%97%E6%9C%AF%E7%BC%96%E7%A0%81" style = "font-size :30px; font-family:LiDeBiao-Xing3">百度百科</a>
        <p></p>
        <a href="https://zh.wikipedia.org/zh-hans/%E7%AE%97%E6%9C%AF%E7%BC%96%E7%A0%81" style = "font-size :30px; font-family:LiDeBiao-Xing3">维基百科</a> 
       </div>
      </div>
   </div>
   
   

   </div>

</div>
  
</div>



{% endblock %}