<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知识介绍</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">   <!--引用bootstrap-->
    <link rel="stylesheet" href="./css/font-awesome.min.css">   <!--引用awesome图标库-->
    <link rel="stylesheet" href="./css/owl.carousel.css">   <!--引用jquery owl.carousel幻灯片插件-->
    <link rel="stylesheet" href="./css/style.css">   <!--自定义样式表-->
    <link rel="stylesheet" href="./css/responsive.css">   <!--引用responsive响应式框架-->
    
    
    <link href='http://cdn.repository.webfont.com/webfonts/nomal/145038/45904/60bc78e1f629d80db056fba0.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.repository.webfont.com/webfonts/nomal/145038/45904/60bc7bd9f629d80db056fba1.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.repository.webfont.com/webfonts/nomal/145038/45904/60bcccbcf629d80db056fba9.css' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="http://cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
    $webfont.load(".right .paragraph", "0a8cf8b3d0de4d619717bc2df8d84b15", "LiDeBiao-Xing3");
    $webfont.load(".right .title", "9c9606ec3bcf4202a6e58fa338ed8193", "cyjianxk");
   $webfont.draw();
</script>
  </head>
  
<body>
 

  <div class="header-area">
    <div class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="user-menu">
              <ul>
                <li><a href="#"><i class="fa fa-user"></i> 个人中心</a></li>
                <li><a href="#"><i class="fa fa-heart"></i> 我的收藏</a></li>
                <li><a href="#"><i class="fa fa-user"></i> 学习记录</a></li>
                <li><a href="#"><i class="fa fa-user"></i> 退出登录</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-branding-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">
            <img src="./images/图片/校徽.jpeg" alt="">
            <h2>多媒体技术</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="shopping-item"> <i class="fa fa-shopping-cart">学习记录</i> <span class="product-count">5</span> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
              class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">课程简介</a></li>
            <li><a href="image.html">图像处理</a></li>
            <li><a href="sound.html">音频处理</a></li>
            <li><a href="video.html">视频处理</a></li>
             <li><a href="test.html">测试练习</a></li>
             <li><a href="works.html">作业展示</a></li>
            <li><a href="https://github.com/Chi-Kai/multimedia-technology">我要参与</a></li>
            <li><a href="https://bb.dlmu.edu.cn/webapps/bb-sso-BBLEARN/index.jsp">查看更多</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="a">
   
     <div class="left">
       <div class="img">
        <img src="./images/图片/图云.png" alt="" class="quality_small_bottle">
      
       </div>
    </div>

    <div class= "right">
      <div class="title" style=" font-family:'cyjianxk28858b0a752368e';">
        无损预测编码
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne" style="font-family:'cyjianxk28856179772368e';">
                介绍
            </h5>
         </div>

         <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
           <div class="card-body">
              <p class="paragraph" style = "font-family:LiDeBiao-Xing3">
                所谓无损压缩格式，是利用数据的统计冗余进行压缩，可完全恢复原始数据而不引起任何失真，但压缩率是受到数据统计冗余度的理论限制，一般为2:1到5:1.这类方法广泛用于文本数据，程序和特殊应用场合的图像数据（如指纹图像，医学图像等）的压缩。
              </p>
           </div>
         </div>
        </div>
       <div class="card">
         <div class="card-header" id="headingTwo">
           <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo" style="font-family:'cyjianxk28856d138f2368e';">   
             视频
           </h5>
         </div>
         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
           <div class="card-body">
            <video width="300" height="200" controls="controls">
              <source src="video\无损压缩.mp4" type="video/mp4">
            </video>
           </div>
         </div>
       </div>
     <div class="card">
       <div class="card-header" id="headingThree">
        <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree" style="font-family:'cyjianxk2886a9090f2368e';">  
          扩展
        </h5>
      </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
         <div class="card-body">
          <a href="https://colab.research.google.com/drive/1jayxHhYGdyB0LJAyFM9q1fH9OO-MI51O?hl=zh-cn#scrollTo=aHubekCedNyO">python实验</a>
          <a href="https://baike.baidu.com/item/%E6%97%A0%E6%8D%9F%E6%95%B0%E6%8D%AE%E5%8E%8B%E7%BC%A9">百度百科</a>
          <a href="https://zh.wikipedia.org/wiki/%E6%97%A0%E6%8D%9F%E6%95%B0%E6%8D%AE%E5%8E%8B%E7%BC%A9">维基百科</a> 
         </div>
        </div>
     </div>
     </div>
     </div>
    
  </div>

  <div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-about-us">
            <h2 class="footer-wid-title">多媒体技术小组</h2>
            <p>版权所有 © 沈凯然/ 辽ICP备xxxxx号</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h2 class="footer-wid-title">服务支持</h2>
            <ul>
              <li>xxxx</li>
              <li>xxxx</li>
              <li>xxxx</li>
              <li>xxxx</li>
              <li>xxxx</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h2 class="footer-wid-title">关于</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-newsletter">
            <h2 class="footer-wid-title">关注我们</h2>
            <li>xx微博</li>
            <li>xx公众号</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/jquery.min.js"></script>   <!--引用jQuery-->
  <script src="./js/bootstrap.min.js"></script>   <!--引用bootstrap-->
  <script src="./js/owl.carousel.min.js"></script>   <!--引用jQuery owl.carousel 幻灯片插件-->
  <script src="./js/jquery.sticky.js"></script>   <!--引用jQuery-->
  <script src="./js/jquery.easing.1.3.min.js"></script>   <!--引用jQuery-->
  <script src="./js/main.js"></script>   <!--自定义js-->
  <script type="text/javascript" src="./js/bxslider.min.js"></script>   <!--响应式jQuery的内容滑块插件bxslider-->
  <script type="text/javascript" src="./js/script.slider.js"></script>   <!--JS-slider.js实现鼠标拖动滑块控制取值特效-->
  <script type="text/javascript" src="js/jquery.let_it_snow.js"></script>
</body>

</html>
