<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>个人中心</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/owl.carousel.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/responsive.css">
</head>

<body>
  <canvas width="100%" height="100%" class="flare"></canvas>
  <canvas width="100%" height="100%" class="snow"></canvas>
  <canvas width="100%" height="100%" class="flake"></canvas>
  <div class="header-area">
    <div class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="user-menu">
              <ul>
                <li><a href="#"><i class="fa fa-user"></i> 个人中心</a></li>
                <li><a href="#"><i class="fa fa-heart"></i> 我的收藏</a></li>
                <li><a href="#"><i class="fa fa-user"></i> 购物车</a></li>
                <li><a href="#"><i class="fa fa-user"></i> 退出登录</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-branding-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">
            <img src="images\图片\校徽.jpeg" alt="">
            <h2>多媒体技术</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="shopping-item"> <i class="fa fa-shopping-cart">学习记录</i> <span class="product-count">5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
              class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span> </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">课程介绍</a></li>
            <li><a href="image.html">图像处理</a></li>
            <li><a href="sound.html">视频处理</a></li>
            <li><a href="video.html">音频处理</a></li>
             <li><a href="test.html">测试练习</a></li>
             <li><a href="works.html">作业展示</a></li>
            <li><a href="https://github.com/Chi-Kai/multimedia-technology">我要参与</a></li>
            <li><a href="https://github.com/Chi-Kai/">联系我们</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="product-big-title-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="product-bit-title text-center">
            <h2>个人中心</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-sidebar">
            <h2 class="sidebar-title">算法搜索</h2>
            <form action="">
              <input type="text" placeholder="搜索您学习的知识点">
              <input type="submit" value="搜索">
            </form>
          </div>
          <div class="single-sidebar">
            <h2 class="sidebar-title">算法推荐</h2>
            <div class="thubmnail-recent"> <img src="images\图片\词典编码.jpg" class="recent-thumb" alt="">
              <h2><a href="词典编码.html">词典编码</a></h2>
              <div class="product-sidebar-price"> <ins>难度系数★★☆☆☆</ins> </div>
            </div>
            <div class="thubmnail-recent"> <img src="images\图片\变换编码.jpg" class="recent-thumb" alt="">
              <h2><a href="变换编码.html">变换编码</a></h2>
              <div class="product-sidebar-price"> <ins>难度系数☆☆☆☆☆</ins></div>
            </div>
            <div class="thubmnail-recent"> <img src="images\图片\哈弗曼编码.jpg" class="recent-thumb" alt="">
              <h2><a href="哈弗曼编码.html">哈弗曼编码</a></h2>
              <div class="product-sidebar-price"> <ins>难度系数★★★☆☆</ins></div>
            </div>
            <div class="thubmnail-recent"> <img src="images\图片\GIF.jpg" class="recent-thumb" alt="">
              <h2><a href="GIF.html">GIF</a></h2>
              <div class="product-sidebar-price"> <ins>难度系数★★★☆☆</ins> </div>
            </div>
          </div>
          <div class="single-sidebar">
            <h2 class="sidebar-title">更多算法</h2>
            <ul>
              <li><a href="H.264.html">H.264</a></li>
              <li><a href="MPEG-1.html">MPEG-1</a></li>
              <li><a href="AVS.html">AVS</a></li>
              <li><a href="词典编码.html">词典编码</a></li>
              <li><a href="PNG.html">PNG</a></li>
              <!-- href可链接到商品详情 -->
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="product-content-right">
            <div class="woocommerce">
              <form id="login-form-wrap" class="login collapse" method="post">
                <p>立即支付</p>
              </form>
              <form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">
                <p class="form-row form-row-first">
                  <input type="text" value="" id="coupon_code" placeholder="Coupon code" class="input-text"
                    name="coupon_code">
                </p>
                <p class="form-row form-row-last">
                  <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                </p>
                <div class="clear"></div>
              </form>
              <div id="customer_details" class="col2-set">
                <div class="col-1">
                  <div class="woocommerce-billing-fields">
                    <h3>个人信息</h3>
                    

                    <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                      <label class="" for="billing_first_name">姓名<abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" value="" placeholder="" id="billing_first_name" name="billing_first_name"
                        class="input-text ">
                    </p>
                    
                    <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                      <label class="" for="billing_last_name">学号<abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name"
                        class="input-text ">
                    </p>
                    <div class="clear"></div>
                    <p id="billing_company_field" class="form-row form-row-wide">
                      <label class="" for="billing_company">密码</label>
                      <input type="text" value="" placeholder="" id="billing_company" name="billing_company"
                        class="input-text ">
                    </p>

                   
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div id="order_review" style="position: relative;">
                <table class="shop_table">
                  <thead>
                    <tr>
                      <th class="product-name">学习详情</th>
                      <th class="product-total">学习追踪</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart_item">
                      <th class="product-name">算法名称<strong class="product-quantity"></strong></td>
                      <td class="product-total"><span class="amount">算术编码</span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr class="cart-subtotal">
                      <th>掌握程度自评</th>
                      <td><span class="amount">30%</span></td>
                    </tr>
                    <tr class="shipping">
                      <th>学习时长</th>
                      <td>当前已学:2h 30 min 34s
                        <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0"
                          data-index="0" name="shipping_method[0]">
                      </td>
                    </tr>
                    <tr class="order-total">
                      <th>测试成绩</th>
                      <td><strong><span class="amount">93/100</span></strong></td>
                    </tr>
                  </tfoot>
                </table>
                <div id="payment">
                  <ul class="payment_methods methods">
                    <li class="payment_method_bacs">
                      <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method"
                        class="input-radio" id="payment_method_bacs">
                      <label for="payment_method_bacs">简单😍&nbsp; </label>
                    </li>
                    <li class="payment_method_cheque">
                      <input type="radio" data-order_button_text="" value="cheque" name="payment_method"
                        class="input-radio" id="payment_method_cheque">
                      <label for="payment_method_cheque">一般🙂&nbsp; </label>
                    </li>
                    <li class="payment_method_paypal">
                      <input type="radio" data-order_button_text="Proceed to PayPal" value="paypal"
                        name="payment_method" class="input-radio" id="payment_method_paypal">
                      <label>好难😢&nbsp; </label>
                    </li>
                  </ul>
                  <div class="form-row place-order">
                    <input type="submit" data-value="Place order" value="该算法难度" id="place_order"
                      name="woocommerce_checkout_place_order" class="button alt">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-about-us">
            <h2 class="footer-wid-title">海事多媒体</h2>
            <p>版权所有 © 沈 赤 陈 / 辽ICP备xxxxx号</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h2 class="footer-wid-title">服务支持</h2>
            <ul>
              <li>xxxx</li>
              <li>xxxx</li>
              <li>xxxx</li>
              <li>xxxx</li>
              <li>xxxx</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu">
            <h2 class="footer-wid-title">关于多媒体</h2>
            <ul>
              <li>了解多媒体</li>
              <li>加入多媒体</li>
              <li>教授老师：宋梅萍</li>
              <li>学习评价：very good</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-newsletter">
            <h2 class="footer-wid-title">关注我们</h2>
            <li>xx微博</li>
            <li>xx公众号</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/jquery.min.js"></script>   <!--引用jQuery-->
  <script src="./js/bootstrap.min.js"></script>   <!--引用bootstrap-->
  <script src="./js/owl.carousel.min.js"></script>   <!--引用jQuery owl.carousel 幻灯片插件-->
  <script src="./js/jquery.sticky.js"></script>   <!--引用jQuery-->
  <script src="./js/jquery.easing.1.3.min.js"></script>   <!--引用jQuery-->
  <script src="./js/main.js"></script>   <!--自定义js-->
  <script type="text/javascript" src="./js/bxslider.min.js"></script>   <!--响应式jQuery的内容滑块插件bxslider-->
  <script type="text/javascript" src="./js/script.slider.js"></script>   <!--JS-slider.js实现鼠标拖动滑块控制取值特效-->
  <script type="text/javascript" src="js/jquery.let_it_snow.js"></script>
</body>

</html>